<div class="jumbotron jumbotron-fluid text-white text-center bg-cover my-4 mx-auto">
    <div class="container">
    </div>
  </div>

  <div class="row" style="--bs-gutter-x: -0.5rem;">
    <div class="col-12">
            <div class="card-header bg-primary text-white">
                <div class="row" style="padding: 16px; text-align: center;justify-content: center;">
                        Product List
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                  <div class="col-3 my-2" *ngFor="let i of productList">
                      <article class="card">
                          <div class="card__img">
                              <img [src]="i.image" alt="Card image">
                          </div>
                          <div class="card__name">
                              <p>{{i.title}}</p>
                          </div>
                          <div class="card__precis">
                              <div>
                                  <span class="card__preci card__preci--now">{{i.price}}</span>
                              </div>
                              <a href="" class="card__icon">
                                  <button class="btn btn-primary mx-2">Add to cart</button></a>
                          </div>
                      </article>
                  </div>
                </div>
              
        </div>
    </div>
  



