.bg-cover {
    background-image: url('https://img.freepik.com/free-vector/online-shopping-banner-with-3d-shopping-cart-clouds-social-icons-vector-illustration_548887-100.jpg?w=1380&t=st=1706969076~exp=1706969676~hmac=bfff66b03390481206c98b33c268b1ea19fe4d5fab2244c4e1cb23ed84833c0e'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px; /* Set the desired height for your banner */
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bg-cover h1,
  .bg-cover p {
    margin: 0; /* Remove default margins for text */
  }
  