/* app.component.css */
.footer {
  box-shadow: 6px -15px 7px 3px rgb(0 0 0 / 9%); /* Subtle box shadow */
  }
  
  .footer h4 {
    color: #dc3545; /* Red title color */
  }
  
  .social-icons i {
    font-size: 2rem;
  }
  
  .social-icons a {
    color: #007bff; /* Blue text color */
  }
  
  .social-icons a:hover {
    color: #0056b3; /* Darker blue on hover */
  }
  