<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <ul class="navbar-nav mx-2">
      <li class="nav-item .nav-item-hover">
        <button class="btn btn-outline-light mx-1 " type="button">Home</button>
      </li>
      <li class="nav-item ">
        <button class="btn btn-outline-dark mx-1" type="button">Men</button>
      </li>
      <li class="nav-item ">
       <button class="btn btn-outline-dark mx-1" type="button">Women</button>
      </li>
      <li class="nav-item ">
        <button class="btn btn-outline-dark mx-1" type="button">Kids</button>
      </li>
      <li class="nav-item dropdown" [ngClass]="{ 'show': isDropdownOpen }">
        <button class="btn btn-outline-dark mx-1 mb-2" type="button" id="navbarDropdown" role="button" (mouseover)="toggleDropdown()" aria-haspopup="true" aria-expanded="false">
          Categories
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"  [ngClass]="{ 'show': isDropdownOpen }">
          <a *ngFor="let category of categoryList" class="dropdown-item" href="" (click)="navigateToCategory(category._id)">{{category.name}}</a>
        </div>
      </li>
    </ul>
  
    <!-- Project Name in the Center -->
    <a class="navbar-brand mx-auto" href="#"><p class="h2 text-white">Shopping Basket</p></a>
  
    <!-- Search and Signup/Login at the End -->
    <div class="navbar-nav ml-auto">
      <div class="nav-item navbar-search mx-2">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </div>
      <div class="nav-item navbar-buttons">
        <button class="btn btn-outline-dark mx-2" type="button">Login</button>
        <button class="btn btn-dark mx-2" type="button">Sign Up</button>
      </div>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid text-white text-center bg-cover my-4 mx-auto">
    <div class="container">
    </div>
  </div>

  <div class="row" style="--bs-gutter-x: -0.5rem;">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <div class="row">
                        Product List
                   
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                  <div class="col-4" *ngFor="let i of productList">
                    <div class="card my-2" style="height: 200px;">
                      <div class="row no-gutters">
                        <div class="col-md-6">
                          <img class="card-img" style="height: 190px;" [src]="i.image" alt="Card image">
                        </div>
                        <div class="col-md-6">
                          <div class="card-body">
                            <h4 class="card-title text-wrap" style="font-size: 1rem;">{{i.title}}</h4>
                            <p class="card-text">Price: {{i.price}}</p>
                            <!-- <p class="card-text">Category: {{i.category}}</p> -->
                            <button class="btn btn-primary mx-2">Add to cart</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
        </div>
    </div>
  