<!-- <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <ul class="navbar-nav mx-2">
      <li class="nav-item .nav-item-hover">
        <button class="btn btn-outline-light mx-1 " routerLink="/" type="button">Home</button>
      </li>
      <li class="nav-item ">
        <button class="btn btn-outline-dark mx-1" type="button">Men</button>
      </li>
      <li class="nav-item ">
       <button class="btn btn-outline-dark mx-1" type="button">Women</button>
      </li>
      <li class="nav-item ">
        <button class="btn btn-outline-dark mx-1" type="button">Kids</button>
      </li>
      <li class="nav-item dropdown" [ngClass]="{ 'show': isDropdownOpen }">
        <button class="btn btn-outline-dark mx-1 mb-2" type="button" id="navbarDropdown" role="button" (mouseover)="toggleDropdown()" aria-haspopup="true" aria-expanded="false">
          Categories
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"  [ngClass]="{ 'show': isDropdownOpen }">
          <a *ngFor="let category of categoryList" class="dropdown-item" href="" (click)="navigateToCategory(category._id)">{{category.name}}</a>
        </div>
      </li>
    </ul>
  
    <a class="navbar-brand mx-auto" href="#"><p class="h2 text-white">Shopping Basket</p></a>
  
    <div class="navbar-nav ml-auto">
      <div class="nav-item navbar-search mx-2">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </div>
      <div class="nav-item navbar-buttons">
        <button class="btn btn-outline-dark mx-2" type="button">Login</button>
        <button class="btn btn-dark mx-2" type="button">Sign Up</button>
      </div>
    </div>
  </nav> -->






  <!-- <div class="overlay"></div> -->


<nav class="navbar navbar-expand-md navbar-light bg-light main-menu" style="box-shadow:none">
  <div class="container">

    <button type="button" id="sidebarCollapse" class="btn btn-link d-block d-md-none">
      <i class="bi bi-list icon-single"></i>
    </button>

    <a class="navbar-brand" routerLink="/">
      <h4 class="font-weight-bold text-primary">
        <i class="bi bi-basket"></i> Shopping<span class="text-danger">Basket</span>
      </h4>
    </a>
    

    <ul class="navbar-nav ml-auto d-block d-md-none">
      <li class="nav-item">
        <a class="btn btn-link" href="#"><i class="bi bi-cart icon-single"></i> <span class="badge badge-danger">3</span></a>
      </li>
    </ul>

    <div class="collapse navbar-collapse">
      <form class="form-inline my-2 my-lg-0 mx-auto">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Search for products..." aria-label="Search">
          <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
        </div>
      </form>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-link" href="#"><i class="bi bi-cart icon-single"></i> <span class="badge badge-danger">3</span></a>
        </li>
        <li class="nav-item ml-md-3">
          <div *ngIf="isLoggedIn; else loginButtons">
            <span style="margin-right: 10px;">Welcome, {{ username }}!</span>
            <button class="btn btn-danger" (click)="logout()">Logout</button>
          </div>
          <ng-template #loginButtons>
            <button type="button" class="btn btn-primary" routerLink="/auth-page">
              <i class="bi bi-person-circle mr-1"></i> Log In / Register
            </button>
          </ng-template>
        </li>
      </ul>
    </div>

  </div>
</nav>

<nav class="navbar navbar-expand-md navbar-light bg-light sub-menu">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href=""  routerLink="/" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategory" role="button" aria-haspopup="true" aria-expanded="false">
            Category
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownCategory">
            <a  *ngFor="let category of categoryList" class="dropdown-item" href="" (click)="navigateToCategory(category._id)">{{category.name}}</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" routerLink="checkout">Checkout</a>
        </li>
        <!-- Add your other menu items here -->
      </ul>
    </div>
  </div>
</nav>

<div class="search-bar d-block d-md-none">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form class="form-inline mb-3 mx-auto">
          <div class="input-group">
            <input class="form-control" type="search" placeholder="Search for products..." aria-label="Search">
            <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>